.main {}

.header-box {
   background-color: rgba(0, 0, 0, 0.9);
   margin-bottom: 20px;
}
.footer{
   margin: 0;
}
/* begin */
.registration {
   margin-top: 90px;
   position: relative;
   height: 700px;
}

.registration__img {
   background-image: url('../img/formLogin.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 700px;
}

.registration__content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.registration__content-center{
   box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%)
}
.registration__content__left {
   background-color: rgb(221 181 84 / 90%);
   padding: 120px 44px;
}

.registration__content__left__heading {
   font-size: 4rem;
   text-transform: uppercase;
   font-weight: 500;
   color: #1c1c1c;
   margin: 24px 0
}

.registration__content__left__text {
   font-size: 1.4rem;
   color: #333;
   font-weight: 500;
   line-height: 2.3rem;
   margin: 1rem 0;
}

.registration__content__left__subtext {
   font-size: 1.4rem;
   color: #1c1c1c;
   line-height: 2.4rem;
   margin: 1rem 0;
}

.registration__content__right {
   display: flex;
   justify-content: center;
   background: #fff;
}
/* form--sucsser */
.form__sucsser{
   height: 538px;
   padding: 142px 48px;
   color: #333;
   display: none;
}
.form__sucsser__heading{
   font-size: 3.3rem;
   margin-bottom: 40px;
   font-weight: 500;
}
.form__sucsser__text{
   font-size: 1.4rem;
   margin-bottom: 10px;
   font-weight: 400;
}
.btn-form__sucsser{
   float: right;
   margin: 12px 0;
}
.form__sucsser-link{
   text-decoration: none;
   color: var(--white-color);
}

/* form */
.form {
   min-height: 100px;
   padding: 12px 24px 32px;
   margin: 24px;
   align-self: center;
   width: 80%;
   /* display: none; */
   text-align: center;
}
.form-login{
   min-height: 100px;
   align-self: center;
   width: 100%;
   /* display: none; */
   text-align: center;
   padding-top: 20px;
}

.form .heading {
   font-size: 2rem;
}

.form .desc {
   text-align: center;
   color: #636d77;
   font-size: 1.6rem;
   font-weight: lighter;
   line-height: 2.4rem;
   margin-top: 16px;
   font-weight: 300;
}

.form-group {
   display: flex;
   margin-bottom: 8px;
   flex-direction: column;
   position: relative;
}

.input-group{
   position: relative;
   display: flex;
}

.form-label,
.form-message {
   text-align: left;
}

.form-label {
   font-weight: 700;
   line-height: 1.8rem;
   font-size: 1.4rem;
   padding-bottom: 6px;
   transition: all ease-in-out .2s;
}

.form-label-2{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 12px;
   font-weight: 500;
   color: #666;
   pointer-events: none;
   font-weight: 500;
   padding-bottom: 0px;
}
.form-label-2-login{
   font-size: 1.6rem;
}

.form-label-2.focus{
   top: 0;
   background-color: #fff;
   padding: 0 4px;
   font-size: 1.3rem;
}
.form-label-2.form-label-2-login.focus{
   top: 0;
   background-color: #fff;
   padding: 0 4px;
   font-size: 1.4rem;
}

.form-control {
   flex: 1;
   height: 40px;
   padding: 10px 12px 8px;
   border: 1px solid #b3b3b3;
   border-radius: 3px;
   outline: none;
   font-size: 1.4rem;
   transition: all ease-in-out .2s;
}
.form-control .form-control-login{
   font-size: 1.5rem;
}
.form-control:focus{
   border: 2px solid #1A73E8;
}
.form-control:focus ~ .form-label-2{
   color: #1A73E8;
}

.iconError {
   position: absolute;
   right: calc(100% - 97%);
   top: 50%;
   transform: translateY(-50%);
   font-size: 17px;
   color: #f33a58;
   display: none;
   animation: showIcon linear .2s;
}
i.iconEyes{
   position: absolute;
   right: calc(100% - 96%);
   top: 50%;
   transform: translateY(-50%);
   font-size: 15px;
   color: #666;
   cursor: pointer;
   display: none;
}
i.iconEyes.active{
   display: block;
}

@keyframes showIcon {
   0% {
      right: calc(100% - 99%);
   }

   50% {
      right: calc(100% - 95%);
   }

   100% {
      right: calc(100% - 97%);
   }
}

.form-control:hover {
   border-color: #1A73E8;
}

.form-group.invalid .form-control {
   border-color: #f33a58;
   background-color: rgb(243, 58, 88, 0.1);
}

.form-group.invalid .form-message {
   color: #f33a58;
}

.form-group.invalid .form-label-2{
   color: #f33a58c7;
}

.form-group.invalid .iconError {
   display: block;
}

.form-group.invalid:hover .form-control {
   background-color: transparent;
}

.form-message {
   font-size: 1.3rem;
   line-height: 1.6rem;
   min-height: 16px;
   margin-top: 4px;
}

.form-submit {
   outline: none;
   background-color: #1A73E8;
   margin-top: 12px;
   padding: 12px 16px;
   font-weight: 600;
   color: #fff;
   border: none;
   width: 100%;
   font-size: 14px;
   border-radius: 8px;
   cursor: pointer;
}
.form-submit-registration{
   background-color: var(--primary-color);
}

.form-submit:hover {
   filter: brightness(90%);
}

.spacer {
   margin-top: 36px;
}
/* file */
input[type='file']{
   padding: 8px 12px;
}
/* radio && check box*/
.conatiner_gender {
   display: flex;
   align-items: center;
}

.gender {
   font-size: 1.4rem;
   display: flex;
   align-items: center;
   margin: 0 10px;
}

input[name="gender"] {
   margin-right: 4px;
}
/* show password */
.show-password-group{
   display: flex;
   align-items: center;
   padding-bottom: 6px;
}
#show-password{
   cursor: pointer;
}
.show-password-label{
   font-weight: 700;
   line-height: 1.8rem;
   font-size: 1.4rem;
   margin-left: 12px;
   cursor: pointer;
}
